.img-wrap {
    position: relative;
    height: auto;
    overflow: hidden;
    background-position: 50% 50%;
    background-size: cover;
    padding-top: 56.25%;
}

.img-wrap img {
    display: inline-block;
    vertical-align: middle;
    max-width: 100%;
    transform: translateZ(0);
    margin: 0 auto;
    right: 0;
    width: 100%;
    height: 100%;
    bottom: 0;
    left: 0;
    top: 0;
    position: absolute;
    object-position: 50% 50%;
    object-fit: cover;
    border-radius: 10px;
}

body{
    background-color: #CFCFCF;
}

a{
    text-decoration: none;
    color: #000;
}

a:hover{
    text-decoration: none;
}

@media screen and (max-width:541px) {
    .w-hero{
        background: linear-gradient( #00BFFF, #fff);
    }
    
    .w-hero .toolbar{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .w-hero .toolbar .input-group{
        width: 80%;
    }

    .w-hero .toolbar .input-group .btn-search{
        border-top-left-radius: 100%;
        border-bottom-left-radius: 100%;
        border-right: unset !important;
        border: 1px solid #eee;
        background-color: #00000091;
    }

    .w-hero .toolbar .input-group .btn-search svg{
        color: #fff;
    }

    .w-hero .toolbar .input-group .form-control{
        border-radius: 20px;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        border-left: unset !important;
        border: 1px solid #eee;
        background-color: #00000091;
    }

    .w-hero .toolbar .input-group .form-control:focus{
        box-shadow: none;
    }

    .w-hero .toolbar .input-group .form-control::placeholder{
        color: #fff;
    }

    .w-hero .toolbar .cart,
    .w-hero .toolbar .accoutn{
        background-color: #00000091;
        color: #ffff;
        padding: 10px;
        height: max-content;
        display: flex;
        border-radius: 20%;
    }

    .w-hero .banner .info{
        background-color: #fff;
        padding: 1rem;
        margin-top: -1rem;
        border-radius: 16px;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    }

    .w-hero .banner .info .call{
        padding: 0 4rem;
        background-color: aqua;
        color: blue;
        border-radius: 10px;
    }

    .w-hero .banner .info .call .bi-telephone-fill{
        margin-right: .5rem;
    }

    .w-hero .banner .info .social{
        width: 30%;
        display: flex;
        justify-content: space-between;
    }

    .w-hero .banner .info .social a,
    .w-hero .banner .info .social .share{
        display: inline-flex;
        align-items: center;
        border-radius: 10px;
        background-color: aqua;
        color: blue;
        padding: 5px 7px;
        border: 0;
    }

    .w-hero .banner .info .social .share .btn-share{
        border: 0;
        background-color: transparent;
        padding: 0;
    }

    .w-hero .banner .info .social .share p{
        position: fixed;
        right: 0;
        bottom: 0;
        height: max-content;
        width: max-content;
        padding: 1rem;
        background-color: #696969;
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 99;
        display: none;
    }

    .w-hero .banner .info .social .share p.show{
        display: block;
    }

    .caterogy{
        background-color: #fff;
    }

    .caterogy p,
    .caterogy button{
        font-size: .9rem;
        margin-bottom: 0;
    }

    .caterogy p{
        width: calc(100% / 2);
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        border: 1px solid #1C86EE;
        border-radius: 10px;
        color: #1C86EE;
        padding: 0 10px;
    }

    .caterogy button{
        border: 0;
        display: flex;
        align-items: center;
        background-color: transparent;
    }

    .caterogy button svg{
        padding-left: 3px;
    }

    .caterogy .popup{
        background-color: #fff;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        padding: 1rem;
        z-index: 99;
        width: 100%;
        height: 280px;
        position: fixed;
        bottom: 0;
        left: 0;
        transform: translateY(999px);
        transition: .3s;
    }

    .caterogy .popup.show{
        transform: translateX(0);
    }

    .caterogy .popup .caterogy-goods{
        border-bottom: 1px solid #eee;
        padding: 8px 0;
    }

    .caterogy .popup .list{
        padding: 0;
        list-style-type: none;
    }

    .caterogy .popup .list .items{
        display: flex;
        border-bottom: 1px solid #eee;
        padding: 5px 0;
    }

    .caterogy .popup .list .items p{
        border: 0;
        font-weight: bold;
        padding: 0;
    }

    .caterogy .popup .list .items button{
        width: calc(100% / 2);
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    .overlay{
        width: 100vw;
        height: 100vh;
        position: fixed;
        background: linear-gradient(180deg,#000,#434343);
        opacity: .85;
        top: 0;
        left: 0;
        display: none;
        transition: 0.3s;
        z-index: 98;
    }

    .overlay.show{
        display: block;
    }

    .w-product,
    .product{
        background-color: #E8E8E8;
    }

    .w-product h2,
    .product h2{
        font-size: 1.5rem;
    }

    .w-product .list,
    .product .list{
        padding: 0;
        margin: 0;
        list-style-type: none;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 5px;
    }

    .w-product .list .items,
    .product .list .items{
        width: calc(100% / 3 - 5px);
        background-color: #fff;
        border-radius: 10px;
    }

    .w-product .items .img-wrap,
    .product .items .img-wrap{
        padding-top: 80.25%;
    }

    .w-product .items .img-wrap img,
    .product .items .img-wrap img{
        border-radius: 10px;
    }

    .w-product .items .info,
    .product .items .info{
        padding: 5px;
    }

    .w-product .items .info .name,
    .product .items .info .name{
        font-size: .9rem;
        width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        -webkit-line-clamp: 2;
        height: 3rem;
        display: -webkit-box;
        -webkit-box-orient: vertical;
    }

    .w-product .items .info .cost,
    .product .items .info .cost{
        color: red;
        font-size: .9rem;
        margin-bottom: .5rem;
    }

    .w-product .items .info .buy,
    .product .items .info .buy{
        display: block;
        color: blue;
        background-color: aqua;
        width: 100%;
        text-align: center;
        border-radius: 10px;
    }

    .product-detail,
    .choose-product,
    .describe,
    .deal{
        background-color: #fff;
    }

    .product-detail .items .slider__counter{
        position: absolute;
        bottom: 0;
        right: 0;
        width: max-content;
        height: max-content;
        z-index: 9;
        color: #fff;
    }

    .product-detail .items .name{
        font-size: 1.5rem;
        font-weight: bold;
        text-transform: uppercase;
    }

    .product-detail .items .cost{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .product-detail .items .cost p{
        font-size: 1.2rem;
        font-weight: 600;
        color: red;
        margin-bottom: 0;
    }

    .product-detail .items .icon{
        display: flex;
        justify-content: space-between;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: max-content;
    }

    .product-detail .items .icon a{
        padding: .8rem;
        background-color: #CFCFCF;
        border-radius: 10px;
        display: inline-flex;
    }

    .product-detail .items .icon .right a:first-child{
        margin-right: 1rem;
    }

    .product-detail .items .list .img-wrap::before{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
        z-index: 9;
    }

    .choose-product .items .left{
        width: 50%;
    }

    .choose-product .items .img-wrap{
        width: 50%;
        padding-top: 34.25%;
    }

    .choose-product .items p{
        margin-bottom: 0;
    }

    .choose-product .items .info{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-left: .5rem;
    }

    .choose-product .items .info p:first-child{
        color: #4F4F4F;
    }

    .choose-product .items .info p:last-child{
        text-transform: uppercase;
    }

    .deal .info{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .deal .info a{
        width: calc(100% / 2);
        display: flex;
        flex-direction: column;
        align-items: center;
        border-right: 1px solid #000;
    }

    .deal .info p{
        font-size: .8rem;
        margin-bottom: 0;
    }

    .deal .info .buy-now{
        padding: .5rem 1rem;
        background-color: blue;
        color: #fff;
        border-radius: 10px;
        margin-left: .5rem;
    }
}